<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :recipient, placeholder: "Recipient" %>
  </div>
  <div class="field">
    <%= f.label :transaction_type %>
    <%= f.select :transaction_type, options_for_select(["Deposit", "Withdrawal"], "Deposit") %>
  </div>
  <div class="field">
    <%= f.number_field :amount, min: 0, placeholder: "Amount", step: 'any' %>
  </div>
  <div class="actions">
    <%= f.submit class: "button small success radius"%>
  </div>
<% end %>
